.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #9336B4;
}

.navbar-title {
    color: #fff;
    font-size: 1.5rem;
    margin-left: 2vw;
}

.navbar-nav {
    display: flex;
    list-style-type: none;
    margin-right: 40vw;
    padding: 0;
    justify-content: center;
}

.nav-item {
    margin-right: 10px;
}

.nav-link {
    color: #fff;
    text-decoration: none;
    padding: 5px;
}

.nav-link:hover {
    background-color: #E384FF;
}
